@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
body {
    font-family: Heebo, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}
.around{
    background:#fff4d4;
}
.reka{
    background: url(img/image.jpg) center;
    background-size: cover;
    background-size:cover;
    color:white;
  padding: 40px;
    margin: auto;
}        
.reka .container{
    max-width: 800px;
    font-size: 20px;
}


.logo{
    text-align: center;
}
.name{
    font-family: Rubik&display;
    font-weight: 700;
}
h1 {
    font-family: Arimo, sans-serif;
    font-weight: 700;
}
a{
    font-size: 20px;
    color: black;
}
h1,h2{
    font-size: 75px;
}
h2 {
    font-family: Arimo, sans-serif;
    font-weight: 700;
}

.container {
    max-width: 800px;
    margin: auto;
}
.title{
    color:black;
    text-align: center;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}
@media(max-width: 700px){
    grid-template-columns: 1fr;
    
}