

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
body {
  font-family: Heebo, sans-serif;
    font-weight: 400;
    background-color:bisque;
}
h1{
  font-family: Arimo, sans-serif;
    font-weight: 700;
}
h2{
  font-family: Arimo, sans-serif;
    font-weight: 700;
}