@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

body {
    font-family: Heebo, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}

.around {
    background: #FFF6C8;
    padding: 0px;
}
.reka {
    background: url(img/image.jpg) center;
    background-size: cover;
    color: white;
    padding: 40px;
    margin: auto;
}

.reka .container {
    max-width: 800px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.logo {
    text-align: center;
    width: 100px;
    margin: auto;
    padding: 0px;
}

.name {
    font-family: Rubik&display;
    font-weight: 700;
}

h1 {
    font-size: 40px;
    text-align: center;
}

a {
    font-size: 20px;
    color: black;
}

h1,
h3,
h2,
h4,
h5 {
    font-family: Arimo, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: auto;
}


img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

@media(max-width: 700px) {
    grid-template-columns: 1fr;

}

.reka_2 {
    background: url(img/obi-onyeador-M8ikiivUAOM-unsplash.jpg) center;
    background-size: cover;
    color: black;
    
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0px;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

.gallery img {
    display: block;
}

.gallery p {
    margin: 0;
}

.button {
    text-decoration: none;
    color: #E1BF11;
    background: #fff;
    padding: 10px 20px;
    display: inline-block;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.around2{
    background: #E1CF76;
}
.button:hover {
     color: #fff;
    background: #000;
}